body{
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
   margin: 0;
   background-color: rgb(84, 112, 119);
}
main{
    padding: 3%;
    background-color: rgb(127, 113, 190);
    border-radius: 10px;
    box-shadow: 0 0 10px;

}
#container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
textarea#inandout{
    font-family: LCD;
    grid-column: span 4;
    height:50px;
    resize: none;
    padding: 6%;
    font-size: 1.2em;
    border: 1px solid #fff;
    border-radius: 9px;
}
button{
    padding: 20%;
    font-size: 1.2em;
    border: none;
    border-radius: 11px;
    cursor:pointer;
}
.numbers{
    background-color: #eaf3ea;
}
.operators{
    background-color: #fdd32e;
}
.more{
    background-color: #ff6666;
}
@media (max-width: 600px) {
    button {
        padding: 10px;
        font-size: 1em;
    }
    textarea#inandout {
        height: 30px;
    }
}
@media (max-width: 600px) {
    #container {
        grid-template-columns: repeat(2, 1fr);
    }
}
